.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

body.modal-open {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.thanks-header {
  width: 320px;
  height: 94px;
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
}
@media screen and (min-width: 768px) {
  .thanks-header {
    width: 768px;
    height: 147px;
  }
}
@media screen and (min-width: 1200px) {
  .thanks-header {
    width: 1920px;
    height: 147px;
  }
}

.thanks-logo {
  width: 160px;
  height: 45px;
  padding: 23px 0 0 80px;
}
@media screen and (min-width: 768px) {
  .thanks-logo {
    padding: 46px 0 0 304px;
  }
}
@media screen and (min-width: 1200px) {
  .thanks-logo {
    padding: 46px 0 0 880px;
  }
}

.thanks-page {
  width: 320px;
}
@media screen and (min-width: 768px) {
  .thanks-page {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .thanks-page {
    min-width: 1200px;
  }
}

.image-container {
  position: relative;
}

.check-bg-image {
  width: 141px;
  padding: 36px 0 0 129px;
}
@media screen and (min-width: 768px) {
  .check-bg-image {
    width: 224px;
    padding: 54px 0 0 365px;
  }
}
@media screen and (min-width: 1200px) {
  .check-bg-image {
    width: 224px;
    padding: 105px 0 0 940px;
  }
}

.check-image {
  position: absolute;
  width: 133px;
  top: 93;
  left: 60;
}
@media screen and (min-width: 768px) {
  .check-image {
    width: 212px;
    top: 145;
    left: 260;
  }
}
@media screen and (min-width: 1200px) {
  .check-image {
    min-width: 212px;
    top: 195;
    left: 830;
  }
}

.description-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 18px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .description-container {
    padding: 0 161px;
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .description-container {
    padding: 0 737px;
    margin-bottom: 208px;
  }
}

.thanks__title {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 1.05;
  text-align: center;
  color: #031412;
}
@media screen and (min-width: 768px) {
  .thanks__title {
    font-size: 50px;
  }
}

.thanks__text {
  margin: 15px 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 0.96;
  text-align: center;
  color: #031412;
}
@media screen and (min-width: 768px) {
  .thanks__text {
    font-size: 27px;
    margin: 37px 0;
  }
}

.thanks__btn {
  display: inline-block;
  padding: 17px 106px;
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.96;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
}
@media screen and (min-width: 768px) {
  .thanks__btn {
    padding: 17px 184px;
  }
}

.thanks-footer {
  width: 320px;
  height: 190px;
  background: linear-gradient(285.45deg, #0b3f37 38.27%, #cb8d62 141.81%);
}
@media screen and (min-width: 768px) {
  .thanks-footer {
    width: 768px;
    height: 228px;
  }
}
@media screen and (min-width: 1200px) {
  .thanks-footer {
    width: 1920px;
    height: 234px;
  }
}

.thanks-footer__logo {
  width: 160px;
  height: 45px;
  padding: 40px 0 0 65px;
}
@media screen and (min-width: 768px) {
  .thanks-footer__logo {
    padding: 55px 0 0 304px;
  }
}
@media screen and (min-width: 1200px) {
  .thanks-footer__logo {
    padding-left: 880px;
  }
}

.copyright {
  margin-top: 24px;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 1.34;
  color: #adadad;
}

.test-page__list {
  margin: 50px 0 0 50px;
}

.test-page__list li {
  margin-bottom: 10px;
}

.test-page__list a {
  color: black;
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */